# Database
DATABASE_URL="mysql://username:password@localhost:3306/lumesbd?sslmode=disabled"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# API
NEXT_PUBLIC_API_BASE_URL="http://localhost:3001"

# Session
SESSION_EXPIRY_TIME=15
